.App-header{
    border-bottom: 2px solid black;
    height: 200px;
    display: flex; /*เรียงให้อยู่ตรงกลาง*/
    justify-content: center; /*แนวนอน*/
    align-items: center; /*แนวตั้ง*/
  }
  .App-header-logo{
    height: 200px;
  }