/* MyTopicPopUp.css */

.topic-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-popup-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.422);
}

.topic-popup-content {
  position: relative;
  max-width: 1200px;
  display: flex; /* Use flexbox to create a two-column layout */
  background-color: black;
}

.topic-popup-column{
  flex: 1; /* Each column takes equal width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-popup-content img {
  display: block;
  max-width: 100%; /* Make the image fill its container */
  height: auto;
}

.topic-popup-content-text h4 {
  color: white;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
}

.bullet-list p::before {
  content: "• "; /* Unicode character for a bullet point */
}
.bullet-list-education p::before {
  content: "• ";
  color: #f94892;
}
.bullet-list-education p {
  display: inline;
  color: #f94892;
}

.bullet-list-experience p {
  display: inline; /* Make the span element inline to appear on the same line */
  color: #9ade7b; /* Add your color styling here */
}
.color-personal p::before {
    content: "• ";
    color: #89CFFD;
  }
.color-personal p{
    color: #89CFFD;
}
.color-skill p{
    color: #FF7F3F;
}

.color-hobbie p{
    color: #B15EFF;
}

.color-dream p{
    color: #FBDF07;
}
